/* Courtesy of Pablo S Ocal who I coppied parts of this from */

:root {
    color-scheme: light dark;

    --light-bg: oklch(96.92% 0.00353 248.573);
    --dark-bg: oklch(29.718% 0.02073 234.038);
}

html { 
    position: relative;
    min-height: 100%; 
}

body { 
    margin: 0 0 0px;
    padding: 0px;
    border: 0px;
    font-size: 1rem;
    font-family: helvetica,arial;
    background-color: light-dark(var(--light-bg), var(--dark-bg));}

.wrapper { 
    max-width: 650px;
    margin: 0 auto;
    padding-left: 0px;
    padding-bottom: 30px 
}

.container { 
    /* min-width: 360px; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 0px 30px 30px 30px; */
}

.nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    margin-top: 0px;
    /* min-width: 400px; */
    border-bottom: 1px solid light-dark(oklch(37.5% 0 0),oklch(80% 0 0));
    font-size: 1rem;
    position: relative; 
    text-align: center;
}

.nav a { 
    text-decoration: none;
    color: light-dark(oklch(37.5% 0 0),oklch(80% 0 0));
    font-size: 1rem;
}

.nav button {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    /* float: right; */
    padding: 0 25px 0 0;
    position: absolute; 
    top: 1rem; 
    bottom: 1rem;
    right: 1rem; 
    width: 1rem; 
}

.nav a:hover { 
    text-decoration: underline;
    color: light-dark(oklch(25% 0 0),oklch(90% 0 0));
}

.maintitle {
    margin-bottom: 1rem;
    font-size: 2.5em;
    text-align: center;
    color: light-dark(var(--dark-bg),var(--light-bg));
}

.subtitle {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    text-align: center;
    color: light-dark(var(--dark-bg),var(--light-bg));
}

a { 
    text-decoration: underline;
    color: light-dark(oklch(37.5% 0 0),oklch(80% 0 0));
}

a:hover { 
    text-decoration: underline;
    color: light-dark(oklch(25% 0 0),oklch(90% 0 0));
}

a.alt { 
    text-decoration: none;
    color:light-dark(oklch(58% 0.06 258),oklch(57% 0.18 39));
}

a.alt:hover { 
    text-decoration: none;
    color: light-dark(oklch(32% 0.06 258),oklch(82% 0.18 39));
}

a.alt2 { 
    text-decoration: none;
    color: light-dark(oklch(37.5% 0 0),oklch(80% 0 0));
}

a.alt2:hover {
    text-decoration: none;
    color: light-dark(oklch(25% 0 0),oklch(90% 0 0));
}

p { 
    line-height: 135%;
    color: light-dark(var(--dark-bg),var(--light-bg));
}

sup, sub { 
    vertical-align: baseline;
    position: relative;
    top: -0.4em 
}

sub {
    top: 0.4em 
}

.pagetitle { 
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.text { 
    margin-top: 4rem;
    line-height: 125%;
    color: light-dark(var(--dark-bg),var(--light-bg));
}

.textblock { 
    max-width: 640px;
    margin: 0 auto;
    text-align: justify 
}

.right { 
    float: right
}

#bing {
    max-width: min(350px, 100%);
    height: auto;
}

#moi {
    max-width: min(275px, 100%);
    height: auto;
}

@media only screen and (max-width: 720px) {
    .nav button {position: static; vertical-align: middle;}
    .wrapper {
        width: 85%;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    .maintitle {
        font-size: min(10vw, 2.5em);
    }
}

/*** Works on common browsers ***/
::selection {
    background-color: light-dark(var(--dark-bg),var(--light-bg));
    color: light-dark(var(--light-bg),var(--dark-bg));
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: light-dark(var(--dark-bg),var(--light-bg));
    color: light-dark(var(--light-bg),var(--dark-bg));;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: light-dark(var(--dark-bg),var(--light-bg));
    color: light-dark(var(--light-bg),var(--dark-bg));
}

::-ms-selection {
    background-color: light-dark(var(--dark-bg),var(--light-bg));
    color: light-dark(var(--light-bg),var(--dark-bg));
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: light-dark(var(--dark-bg),var(--light-bg));
    color: light-dark(var(--light-bg),var(--dark-bg));
}